/* common */
body {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
	min-width: 1024px;
}

#header {
	background-color: #aa312c;
	height:50px;
	width: auto;
}

#asmlogo {
	margin-right: 10px;
}

#footer {
	font-family: Arial;
	background-color:#999;
	min-width: 1024px;
	text-align:center;
	padding: 0.5px;

	height: 40px;
	line-height: 40px;
	white-space: nowrap;
}

a:link {
	color: white;
	text-decoration:none;
}

a:hover {
	color: #ffffff !important;
	text-decoration:none !important;
}


a:hover .compare-text:hover {
	color: #eaeaea !important;
	text-decoration:none !important;
}




/*index*/

#index-body {
	background-image: url("../img/homepageBg.jpg");
}

.index-container {
	position: relative;
	width: auto;
	margin-bottom: 532px;
}

.content h1 {
	text-align:center;
	margin-top: 60px ;
	margin-bottom: 60px ;
	font-family: Arial;
	font-size: 40px;
}

.compare-text {
	padding: 0px;
	border: 1px #aa312c solid;
	border-radius: 20px;
	background-color: #aa312c;
	width: 200px;
	text-align: center;
	font-family:Arial;
	font-size: 20px;
	margin: auto;
}


.compare{
	margin-bottom: 300px;
}

.machinebg {
	display: block;
	margin-top: 100px;

}


/*select*/

#select-body {
	background-image: url("../img/pageBg.jpg");
}

.buttons {
	background-color: white;
	width: 100%;
	height: 50px;

}


.back {
	display: block;
	float: left;
	margin-top:5px;


}

.back-text {
	color: white;
	font-size: 15px;
	background-color: #aa312c;
	padding: 8px 15px;
}


.compare-product {
	display: block;
	float: right;
	margin:10px 0px 0px 10px;
	height: auto;
	cursor: pointer;
}

.compareproduct-text {
	color: white;
	font-size: 15px;
	background-color: #aa312c;
	padding: 8px 15px;
}

.select-container {
	/*margin-bottom: 1080px;*/
}

.selection-text {
	margin-bottom: 50px;
}

.selection-text > div {
	font-size: 30px;
}

.selection-text > h1{
	margin-top: 50px;
	font-size: 50px;
}

.select-machines-wrapper {
	padding-top: 6px;
	background-color: white;
}

.select-machine-item {
	margin-bottom: 50px;
}

.select-machine-item > div {
	width: 250px;
	border: 1px #d9d9d9 solid;
	margin-top: 20px;
	cursor: pointer;
}

.select-machine-item-select {
	cursor: pointer;
}

.machine-greybox {
	padding: 10px;
	background-color: rgba(0,0,0,0.5);
	font-weight: bold;
}

.select-breadcrumbs {
	background-color: #999999 !important;
	margin-bottom: 10px;
}

.breadcrumbs-text {
	padding: 10px;
	color: white;
}

/*compare*/

.sidebar ul li {
	background-color: #aa312c;
	padding: 7px 10px;
	width: 155px;
	margin: 5px 0px 5px 10px !important;
	color: white;
	font-weight: bold;
	list-style: none;
	cursor: pointer ;
}



.nav li:hover {
	background-color: #999999 !important;
	text-decoration:none !important;
}

.nav-pills > li:active , .nav-pills > li:active > li:focus {
	background-color: #999999 !important;
	text-decoration:none !important;
}

.nav li.active {
	background-color: #999999;
}

#compare-body {
	background-image: url("../img/pageBg.jpg");
}

.compare-container {
	width: 80%;
	margin: 0 auto;
}

.comparison-wrapper {
	padding: 6px;
	/*width:80%;*/
	background-color: white;
}

.compare-breadcrumbs {
	background-color: #999999 !important;
	margin-bottom: 10px;
	margin-top: 100px;
}

.machine-to-compare {
	margin-bottom: 50px;
}

.compare-machine-item > div {
	width: 250px;
	border: 1px #d9d9d9 solid;
	margin-top: 20px;
}

/*.compare-machine-item {
	height: 200px;
}*/

.compare-machine-name {
	background-color: #999999;
	padding: 20px 0;
	font-weight: bold
}

.datainfo-container {
	width: !important;
}

/*.category-field-name-container {
	margin-left: 200px !important;
}

.compare-machine-item-outer-container {
	height: 50px;
}*/


/* try out for compare.html grid*/
#trygrid-body {
	background-image: url("../img/pageBg.jpg");
}

.overall-wrapper {
	padding: 6px;
	margin:100px 200px 0px 200px;
	background-color: white;
}
.top-container {
/*	height:350px;*/
margin-bottom: 300px;
}

/*.bottom-container {
	height: auto;
}*/

.machine-thumbnail-container {
	/*height: 600px;*/
	background-color: red;
}

.trysidebar-container {
	height: 500px;
}


/*.compare-mc-item-container {
	margin-left: 300px;
}*/

.machineone-container {
	border: 1px black solid;
	margin-left: 300px;
}
