/* common */
body {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
	min-width: 1024px;	
}

#header {
	background-color: #aa312c;
	height:50px;
	width: auto;
}

#asmlogo {
	margin-right: 10px;
}

#footer {
	font-family: Arial;
	background-color:#999;
	min-width: 1024px;
	text-align:center;
	padding: 0.5px;

	height: 40px;
  	line-height: 40px;
 	white-space: nowrap;

}

a:link {
	color: white;
	text-decoration:none;
}

a:hover {
	color: #ffffff !important;
	text-decoration:none !important;
}


a:hover .compare-text:hover {
	color: #eaeaea !important;
	text-decoration:none !important;
}




/*index*/

#index-body {
	background-image: url("../img/homepageBg.jpg");
}

.index-container {
	position: relative;
	width: auto;
	margin-bottom: 532px;
}

.content h1 {
	text-align:center;
	margin-top: 60px ;
	margin-bottom: 60px ;
	font-family: Arial;
	font-size: 40px;
}



.compare-text {
	padding: 0px;
	border: 1px #aa312c solid;
	border-radius: 20px;
	background-color: #aa312c;
	width: 200px;
	text-align: center;
	font-family:Arial;
	font-size: 20px;
	margin: auto;
	
}


.compare{
	margin-bottom: 300px;
}

.machinebg{
	display: block;
	margin-top: 100px;

}

/*select*/

#select-body {
	background-image: url("../img/pageBg.jpg");
}

.back {
	display: block;
	float: left;
	margin-bottom: 50px;

}

.back-text{
	color: white;
	font-size: 15px;
	background-color: #aa312c;
	padding: 8px 15px;
}

.compare-product {
	display: block;
	float: right;
	margin-bottom: 50px;
}

.compareproduct-text{
	color: white;
	font-size: 15px;
	background-color: #aa312c;
	padding: 8px 15px;
}


.select-container {
	/*margin-bottom: 1080px;*/
}

.selection-text {
	margin-bottom: 50px;
}

.selection-text div {
	font-size: 20px;
}

.selection-text h1{
	margin-top: 50px;
}

.select-machines-wrapper {
	padding-top: 6px;
	background-color: white;
}

.machine-item {
	margin-bottom: 50px;

}

.machine-item div {
	width: 250px;
	border: 1px #d9d9d9 solid;

}

.machine-greybox{
	padding: 10px;
	background-color: rgba(0,0,0,0.7);
	font-weight: bold;
}
