/* common */
body {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100%;
	margin: 0;
	min-width: 1024px;	
}

#header {
	background-color: #aa312c;
	height:50px;
	width: auto;
}

#asmlogo {
	margin-right: 10px;
}

h1 {
	text-align:center;
	margin-top: 150px;
	margin-bottom: 50px;
	font-family: Futura;
	font-size: 40px;
}

.compare {
	padding: 0px;
	border: 1px #aa312c solid;
	border-radius: 20px;
	background-color: #aa312c;
	width: 200px;
	margin: auto;
	text-align: center;
	color: white;
	font-family:Futura;
	font-size: 23px;
}

#footer {
	font-family: Futura;
	background-color:#999;
	min-width: 1024px;
	text-align:center;
	padding: 0.5px;
	
}

a:link {
	color: #333;
	text-decoration:none;
}

a:hover {
	color:#FFF;
}


/*index*/

#index-body {
	background-image: url("../img/homepageBg.jpg");
}

.index-container {
	position: relative;
	width: auto;
	margin-bottom: 520px;
}

/*select*/

#select-body {
	background-image: url("../img/selectpageBg.jpg");
}
.select-container {
	/*margin-bottom: 1080px;*/
}

.selection-text {
	margin-bottom: 50px;
}

.selection-text div {
	font-size: 20px;
}

.select-machines-wrapper {
	padding-top: 100px;
	background-color: white;
}

.machine-item {

}

.machine-item div {
	background-color: grey;
	width: 250px;
}