/* common */
body {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
	min-width: 1024px;	
}

#header {
	background-color: #aa312c;
	height:50px;
	width: auto;
}

#asmlogo {
	margin-right: 10px;
}

#footer {
	font-family: Arial;
	background-color:#999;
	min-width: 1024px;
	text-align:center;
	padding: 0.5px;
	
}

a:link {
	color: white;
	text-decoration:none;
}

a:hover {
	color: #ffffff !important;
	text-decoration:none !important;
}


a:hover .compare-text:hover {
	color: #eaeaea !important;
	text-decoration:none !important;
}




/*index*/

#index-body {
	background-image: url("../img/homepageBg.jpg");
	
}

.index-container {
	position: relative;
	width: auto;
	margin-bottom: 645px;
}

h1 {
	text-align:center;
	margin-top: 60px !important;
	margin-bottom: 60px !important;
	font-family: Arial;
	font-size: 40px;
}



.compare-text {
	padding: 0px;
	border: 1px #aa312c solid;
	border-radius: 20px;
	background-color: #aa312c;
	width: 200px;
	text-align: center;
	font-family:Arial;
	font-size: 20px;
	margin: auto;
	
}


.compare{
	margin-bottom: 300px;
}

.machinebg{
	display: block;
	margin-top: 100px;

}

/*select*/

#select-body {
	background-image: url("../img/pageBg.jpg");
}

.home{
	color: white;
	font-size: 20px;
	margin-top: 50px;
	padding: 20px;
}

.select-container {
	/*margin-bottom: 1080px;*/
}

.selection-text {
	margin-bottom: 50px;
}

.selection-text div {
	font-size: 20px;
}

.select-machines-wrapper {
	padding-top: 100px;
	background-color: white;
}

.machine-item {
	margin-bottom: 50px;
}

.machine-item div {
	background-color: grey;
	width: 250px;
}
